@font-face{
  src: url('../fonts/source sans pro/SourceSansPro-Regular.ttf');
  font-family: SourceSansPro;
}
@font-face{
  src: url('../fonts/Open sans/OpenSans-Regular.ttf');
  font-family: OpenSans;
}
.logindiv{
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26);
}
.login{
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.26), rgba(67, 67, 67, 0.16)), url('../../../public/img/rectangle@2x.jpg');
  /* background-attachment: fixed; */
  height: 100vh;
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.row{
  width: 100% !important;
}

/* fonts */
.b-15{
  font-family: SourceSansPro;
  font-size: 15px;
  color: #253858;
}
.b-16{
  font-family: SourceSansPro;
  font-size: 16px;
  color: #253858;
}
.b-34{
  font-family: SourceSansPro;
  font-size: 34px;
  font-weight: bold;
  color: #253858;
}

/* forms  */
.login-form{
  border-radius: 3px;
  border: solid 1px #e3e3e3;
  background-color: rgba(216, 216, 216, 0.1);
  padding: 12px 24px;
}
.login-form input{
  border: none;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  background: transparent;
  color: #253858;
}
.login-form input[type=text]:focus, .login-form input[type=email]:focus, .login-form input[type=passwword]:focus {
  border: none !important;
  box-shadow: none !important;
}
.login-form label{
  font-family: SourceSansPro;
  font-size: 15px;
  color: #7b7e89;
}


/* buttons */
.btn-login{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: OpenSans;
  height: 53px;
  font-size: 12px;
  border-radius: 2px;
  color: #0e1428;
  transition: all .3s ease-in-out;
}.btn-login:hover{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn-orange{
  height: 46px;
  border-radius: 3px;
  border: 1px solid #f58634;
  background-color: #f58634;
  transition: all .3s ease-in-out;
  font-family: SourceSansPro;
  font-size: 15px;
  color: #fff;
}.btn-orange:hover{
  border: 1px solid #f58634;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: #f58634;
}